/* @font-face {
  font-family: "Mononoki-Regular";
  src: url("../fonts/mononoki/mononoki-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mononoki/mononoki-Regular.woff2") format("woff2"), url("../fonts/mononoki/mononoki-Regular.woff") format("woff"), url("../fonts/mononoki/mononoki-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

body {
  background-color: #263238;
  text-align: center;
  color: white;
  font-family: 'Varela Round';
}

* {
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
  pointer-events: all;
  transition: color 0.5s ease;
}

a:hover {
  color: #E8D0AC;
}

.pos-fixed {
  position: fixed;
}

.brand-name {
  color: #E7CFAB;
}

.container {
  padding-top: 24vh;
}

.main-content {
  width: 80%;
  max-width: 950px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: none;
  transition: all 0.5s ease-in-out, text-shadow 2s;
  pointer-events: none;
}

.main-content > h1 {
  text-shadow: 3px 3px 9px #000;
}

.show {
  visibility: visible !important;
}

.content {
  visibility: hidden;
  opacity: 0;
}

.projects-list {
  grid-template-columns: 1fr 1fr;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: -10;
  transition: all 0.5s ease-in-out;
  margin-left: 5px; /* to compensate the scrollbar of the project l ist */
  justify-items: center;
}

@media only screen and (min-width: 1000px) {
  .projects-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 999px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
}

.project-item {
  color: black;
  height: 230px;
  max-width: 440px;
  width: 100%;
  margin: 20px 30px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
}

.project-item:nth-child(odd) {
  /* margin-left: 150px; */
  /* margin-right: -80px; */
}

.project-item:nth-child(even) {
  /* margin-right: 150px; */
  /* margin-left: -80px; */
}

/* Pages */
.pages {
  /* width: 100%; */
  display: inline-flex;
  /* table-layout: fixed; */
  padding: 0;
  margin: 0;
  font-size: 10px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
}

.page {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}

.page::before {
  content: "";
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: 0 auto;
}

.page:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 1.3em;
  left: -50%;
  width: 100%;
  height: .4em;
  z-index: -1;
}

.page::before {
  background-color: #4e342e;
  box-shadow: 0 0 3px 1px #fff;
}

.page--active::before {
  background-color: #e7cfab;
  box-shadow: 0 0 3px 1px #fff;
}
