---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body id="top" class="scrollspy">

    {% include loader.html %}

    {% include nav.html %}

    {% include banner.html %}

    {% include services.html %}

    <!--Parallax-->
    <div class="parallax-container">
        <div class="parallax"><img src="img/banner.png"></div>
    </div>

    {% include team.html %}

    {% include footer.html %}


    <!--  Scripts-->
    <script src="{{ site.url }}/js/plugin.js"></script>
    <script src="{{ site.url }}/js/theme.js"></script>
    <script src="{{ site.url }}/js/owl.carousel.min.js"></script>
    <script src="{{ site.url }}/js/typed.min.js"></script>
    <script src="{{ site.url }}/js/custom.js"></script>

    <script>
	  document.addEventListener('DOMContentLoaded', function(){
	      Typed.new('#type', {
	        strings: [
	        	"Web Development", 
	        	"Web Design", 
	        	"Lots of cramming..", 
	        	"More cramming..", 
	        	"codes and coffee."
	        ],
            backDelay: 900,
            smartBackspace: true,
	      });
	  });
	</script>

</body>

</html>
