<!--Footer-->
<footer id="footer" class="page-footer default_color scrollspy">
    <div class="container">
        <div class="row">
            <div class="col l12 s12 center">
                <a class="white-text social-icon" href="https://www.facebook.com/codesandcoffee/">
                    <i class="small fa fa-facebook-square white-text"></i>
                </a>
                <a class="white-text social-icon" href="https://github.com/codesandcoffee">
                    <i class="small fa fa-github-square white-text"></i>
                </a>
                <a class="white-text social-icon" href="https://www.linkedin.com/company-beta/13390303/">
                    <i class="small fa fa-linkedin-square white-text"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container center">
            &copy; codesandcoffees
        </div>
    </div>
</footer>
