<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center header text_h2">
                    We at <span class="span_h2">codes and coffee</span> 
                    try to deliver the right solution to any web and mobile application request. 
                </h2>
            </div>

            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">Wide technology skillset</h5>
                    <p class="light center">
                        As part of our team's efforts to stay competent in the IT market, we continuously develop our technical skills more than our social skills.
                        We guarantee that you will get the right technologies to fit your needs.
                    </p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-image-flash-on"></i>
                    <h5 class="promo-caption">Speedy development</h5>
                    <p class="light center">
                        Having been trained by demanding bosses and nagging girlfriends, 
                        every one in our team has developed excellence in terms of details, speed, and remembering deadlines and dates.
                    </p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Tear-jerking results</h5>
                    <p class="light center">
                        Ah yes. The point of it all -- the end product.
                        Whatever your reasons for tearing-up, you will have your app safely in your hands in the end.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
