<!--Team-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b">Our Team</h2>
        <div class="row">
            <div class="owl-carousel owl-theme">
                <!-- Don Sumayan -->
                <div class="item">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="{{ site.url }}/img/team/don.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Don<br/>
                                <!-- <small><em><a class="red-text text-darken-1" href="#">Domain Founder</a></em></small> -->
                            </span>
                            <p>
                                <a class="gray-text text-lighten-2" href="https://www.facebook.com/don.sumayan">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://www.linkedin.com/in/donraedelsumayan">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://github.com/donsumayan">
                                    <i class="fa fa-github-square"></i>
                                </a>
                                <!-- <a class="gray-text text-lighten-2" href="#" title="website">
                                    <i class="fa fa-globe"></i>
                                </a> -->
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Jerome Ramos -->
                <div class="item">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="{{ site.url }}/img/team/jerome.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Jerome<br/>
                                <!-- <small><em><a class="red-text text-darken-1" href="#">CTO</a></em></small> -->
                            </span>
                            <p>
                                <a class="gray-text text-lighten-2" href="https://www.facebook.com/mouthzipper">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://www.linkedin.com/in/jeromeramos">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://github.com/mouthzipper">
                                    <i class="fa fa-github-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="http://jeromehramos.com/" title="website">
                                    <i class="fa fa-globe"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Clint James Estal -->
                <div class="item">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="{{ site.url }}/img/team/clint.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Clint<br/>
                                <!-- <small><em><a class="red-text text-darken-1" href="#">Believes in Faith</a></em></small> -->
                            </span>
                            <p>
                                <a class="gray-text text-lighten-2" href="https://www.facebook.com/clintestal">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://www.linkedin.com/in/clintjamesestal">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://github.com/cjestal">
                                    <i class="fa fa-github-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://cjestal.github.io/" title="website">
                                    <i class="fa fa-globe"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Joseph Vincent Lao -->
                <div class="item">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="{{ site.url }}/img/team/joseph.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Joseph<br/>
                                <!-- <small><em><a class="red-text text-darken-1" href="#">Dancer Lover</a></em></small> -->
                            </span>
                            <p>
                                <a class="gray-text text-lighten-2" href="https://www.facebook.com/clintestal">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://www.linkedin.com/in/joseph-vincent-lao-929b3010b/">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://github.com/josephlaotzu">
                                    <i class="fa fa-github-square"></i>
                                </a>
                                <!-- <a class="gray-text text-lighten-2" href="https://cjestal.github.io/" title="website">
                                    <i class="fa fa-globe"></i>
                                </a> -->
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Devlin Pajaron -->
                <div class="item">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="{{ site.url }}/img/team/devlin.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Devlin<br/>
                                <!-- <small><em><a class="red-text text-darken-1" href="#">Coffee Lover Not</a></em></small> -->
                            </span>
                            <p>
                                <a class="gray-text text-lighten-2" href="https://www.facebook.com/iamdevlinph">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://www.linkedin.com/in/iamdevlinph">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://github.com/iamdevlinph">
                                    <i class="fa fa-github-square"></i>
                                </a>
                                <a class="gray-text text-lighten-2" href="https://iamdevlinph.github.io/me/" title="website">
                                    <i class="fa fa-globe"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>