// load mononoki font
@font-face{
    font-family:"Mononoki-Regular";
    src:url("fonts/mononoki/Mononoki-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/mononoki/Mononoki-Regular.woff2") format("woff2"),
    url("fonts/mononoki/Mononoki-Regular.woff") format("woff"),
    url("fonts/mononoki/Mononoki-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
