#navbar {
    .brand-name {
        font-family: "Mononoki-Regular";
        font-size: 20px;
    }
    #logo-container {
        vertical-align: middle;
    }
    .defaul_color{
        background-color: $coffee-table;
    }
    ul a {
        font-size: 1em;
    }
}
