#navbar {
    #brand-name {
        font-size: 10px;
        position: absolute;
    }
    #logo-container {
        vertical-align: middle;
    }
    .defaul_color{
        background-color: $coffee-table;
    }
    ul a {
        font-size: 1em;
    }
}
