#team {
    .card-avatar {
        img {
            border-radius: 0px !important;
            width: 150px !important;
            margin: 0px auto;
        }
        .gray-text {
            color: $coffee-plate;
            &:hover {
                color: $coffee-table;
            }
        }
    }
}
